! Appearance -----------------------------------------------------------

urxvt*scrollBar: false
urxvt*transparent: false
urxvt*depth: 32
urxvt*cursorBlink: true
urxvt*cursorUnderline: true
!urxvt*letterSpace: -2
urxvt*internalBorder: 4

! Fix things
urxvt*termName: rxvt
urxvt*keysym.Home: \033[1~
urxvt*keysym.End:  \033[4~

! Font -----------------------------------------------------------------

urxvt*font: xft:source code pro:size=9
urxvt*boldFont: xft:source code pro:size=10

! Xft settings ---------------------------------------------------------

Xft.dpi:        96
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintslight
Xft.autohint: true
Xft.lcdfilter: lcddefault

! Perl extensions ------------------------------------------------------

urxvt*perl-lib: /usr/lib/urxvt/perl/
urxvt*perl-ext-common:  default,matcher,clipboard
urxvt*clipboard.autocopy: true
urxvt*url-launcher: firefox
urxvt*matcher.button: 1
urxvt*iso14755: false

! Colours -------------------------------------------------------------

!#include "/home/alex/.colours/base16-codeschool"
#include "/home/alex/.colours/dotdev"
!#include "/home/alex/.colours/earth"
!#include "/home/alex/.colours/jellyx"
!#include "/home/alex/.colours/numix-darkest"
!#include "/home/alex/.colours/solarized-dark"
!#include "/home/alex/.colours/solarized-light"
!#include "/home/alex/.colours/sorcerer"
